*{
    margin: 0;
    padding: 0;
}

.grillaPaginas{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 1200px;
    grid-template-rows: 10% 87% 3%;
    grid-template-areas: "header header header header"
                        "main main main main"
                        "footer footer footer footer";
}

.header{
    grid-area: header;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    transition: 1s all;
}

.logo:hover{
    height: 110px;
    margin-left: 5px;
}

.navLogo{
    display: block;
    width: 75%;
}

.navbar{
    display: block;
    background-color: transparent !important;
    width: 25%;
}


nav{
  background-color: transparent;
  font-family: Roboto;
}

/*
.menu{
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    background-color: rgb(242, 145, 196);
    display: flex;   
    justify-content: space-around;
    
}


nav li{
    display: block;
    padding: 2px 4px 2px 4px;
    margin-left: 2px;
    margin-right: 2px;
}
*/
.links{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.links:hover{
    color: black;
}

.main{
  grid-area: main;
}

.footer{
    grid-area: footer;  
    text-align: right;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      padding-top: 8px;
      padding-right: 12px;
      color: rgb(27, 27, 27);
      background-color: rgb(243, 209, 227);   
}

/*INDEX*/

.background{
    background-image: url(../babyx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
}

.filtroFondo{
    height: 656px;
    backdrop-filter: blur(3px);
    grid-area: unset;
}


.imgResponsive{
    display: block;
    width: 100%;
    grid-area: main;    
}

.imgResponsiveDos{
    display: none;
    width: 100%;
    grid-area: main;
}

.textoIndex{
    display: block;
    grid-area: main;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: light;    
    width: 60%;
    color: rgb(252, 250, 253);;
    margin-left: auto;  
    margin-right: auto;
}

#tituloIndex{
    color: rgb(252, 250, 253);
    font-size: 54px;
    font-family: 'Berkshire Swash', cursive;
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-14 20:31:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
  



.mainPaginas{
    grid-area: main;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 1044px;
    grid-template-rows: 20% 35% 45%;
    grid-template-areas: ". area1main area1main ."
                        "area2main area2main area2main area2main"
                        "area3main area4main area4main area5main";
}

.fondoPaginas{
    background-image: url(../fondo.png);
    background-size: cover;
    width: 100%;
    grid-area: none;
}

.titulos{
    color: rgb(13, 13, 14);
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.textoPrincipal{
    grid-area: area1main;
}

.textoParrafo{
  font-size: large;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: light;    
    color: rgb(13, 13, 14);
    margin-left: auto;  
    margin-right: auto;
}

.carousel{
  grid-area: area2main;
}

.galeriaImagenes{
    width: 100%;
    height: auto;
    transition: 1s all;
}


.imagenes{
    grid-area: area2main;
    display: flex;
    justify-content: space-around;
}

.galeriaImagenes:hover{
    filter: opacity(.6);
    width: 300px;
    height: auto;
}

.animacionUno{
    font-family: roboto;
    font-size: x-large;
    font-weight: lighter;
    color: black;
    grid-area: area3main;
    align-self: baseline;
    padding-top: 20px;
}

.slide-in-left {
	-webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4s both;
	        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-14 20:20:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  

.animacionDos{
    font-family: roboto;
    font-size: x-large;
    font-weight: lighter;
    color: black;
    grid-area: area4main;
    align-self: center;
    justify-self: center;
    width: 50%;
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 5s both;
	        animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 5s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-14 20:21:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  

.animacionTres{
    font-family: roboto;
    font-size: x-large;
    font-weight: lighter;
    color: black;
    grid-area: area5main;
    align-self: flex-end;
    text-align: right;
}

.slide-in-right {
	-webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 6s both;
	        animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 6s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-14 20:22:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  
  

@media only screen and (min-width:992px){
    .imgResponsive{
        display: none;
    }
    
}

@media only screen and (max-width:992px){
    .background{
        background-image: url(../fondo.png);
    }
    .mainPaginas{
      grid-area: main;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      height: 1044px;
      grid-template-rows: 20% 30% 50%;
      grid-template-areas: "area1main area1main area1main area1main"
                          "area2main area2main area2main area2main"
                          "area3main area4main area4main area5main";
  }
}

@media only screen and (max-width:600px){
  .grillaPaginas{
    display: grid;
    grid-template-columns: 100%;
    height: 1200px;
    grid-template-rows: 10% 87% 3%;
    grid-template-areas: "header"
                        "main"
                        "footer";
}

  .imgResponsive{
        display: none;
    }
    .imgResponsiveDos{
        display: block;
        width: 100%;
        position: static;
    }
    .textoIndex{
        color: black;
    }
    #tituloIndex{
        color: black;
    }
}